/* Seletores e Regras (Propriedades) */

/*
    tagname: body, h3, iimg, table
    class .nome_class { regra }
    id: #nome_id { regra }


*/

body{
    background-color: lightblue;
}

h3{
    color: red;
}

.estilo1{
    color: green;
}

#estilo2{
    color: red;
    background-color: blueviolet;
}